# Data files - too large for GitHub
*.csv
*.xlsx
*.json
data/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Operating system files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Environment files
.env
*.log
